body{
    background: url('Profile_Pictures/Portfolio_background.png') no-repeat center fixed;
    background-size: cover;
}

@font-face {
    font-family: valegan;
    src: url('Font/Valegandemo-ALeOx.otf');
}

  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 50%;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%
    }
}

.grid-container {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 55%;
    height: 75vh;
    overflow-y: auto;
}

.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.gallery {
    border: 1px solid #ccc;
}
  
.gallery:hover {
    border: 1px solid #777;
}
  
img {
    width: 100%;
    height: auto;
}

video{
    width: 100%;
    height: auto;
}
  
.description {
    font-size: 1vw;
    color: #f0f0f0a2;
    font-family: valegan;
    padding: 15px;
    text-align: center;
}
  
* {
    box-sizing: border-box;
}
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
    height: 60%;
}
a{
    font-size: 1.5vw;
    align-self: center;
    color: #f0f0f0a2;
    font-family: valegan;
}

p4{
    font-size: 0.5vw;
    color: #f0f0f0a2;
    font-family: valegan;
    text-align: center;
  }
